body{
    font-family: 'Lato', serif;
    background: #6E0031;
    box-sizing: border-box;
    margin: 0;
}
/* --------------------------- HEADER / TITLE --------------------------- */

#red{
    text-shadow: 2px 2px 12px red;
}
#green{
    text-shadow: 2px 2px 12px #00ee00;
}
#blue{
    text-shadow: 2px 2px 12px #0d3bff;
}

header{
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1% 0;
    text-shadow: 3px 3px 30px rgba(0,0,0,0.7); /* Giving dark shadow, in case background is white, to make text visible */
}

header h2, header h1{
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

header h1{
    font-size: 4rem;
}



/*  --------------------------- NAV BUTTONS + message  --------------------------- */

nav{
    background: white;
    color: #6E0031;

    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    margin: 0;

}

nav *{
    margin: 0;
}

nav>p, #difficulty {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    flex-grow: 1;
}
nav>p, #difficulty p, .row div{
    cursor: pointer;
}

#message{
    width: 15%;
    text-transform: none;
    font-size: 1.5rem;
    font-weight: none;
    padding-top: 5px;
    text-align: center;
}

#difficulty{
    display: flex;
    flex-wrap: wrap;
}

#difficulty p{
    padding: 0 5px;
    flex-grow: 1;
}

#difficulty p:first-child{
    margin-right: 20px;
}

nav>p:hover, #difficulty p:hover{
    color: #31AE59;
}

.selected{
    color: white;
    background: #6E0031;; /* Same as in header and nav */
}




/*  --------------------------- COLORED DIV SQUARES  --------------------------- */

.container{
    text-align: center;
    margin-top: 20px;

}

.row{
    max-width: 600px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row div{
    width: 30%;
    height: 150px;
    border-radius: 15px;
    transition: opacity 2s;
}

.clicked{
    opacity: 0;
}




/*  --------------------------- MEDIA QUERIES FOR SMALL WINDOWS / PHONES  --------------------------- */

@media (max-width: 800px), handheld{

    header h1{
        font-size: 3rem;
    }
        /*Only displays some text messages (THE GREAT / GUESSING GAME / Message like "CORRECT") if screen size allows it */
    .display-large, #message, header h2 {
        display: none;
    }
    .row{
        margin-bottom: 0px;
        justify-content:  center;
    }

    nav > p{
        width: 100%;
        text-align: center;
    }

    .row div{
        width: 33%;
        border-radius: 0px;
    }

    /* Gives rounded borders to the 4 corner divs */

    .row:first-child div:first-child{
        border-top-left-radius: 20px;
    }
    .row:first-child div:last-child{
        border-top-right-radius: 20px;
    }
    .row:last-child div:first-child{
        border-bottom-left-radius: 20px;
    }
    .row:last-child div:last-child{
        border-bottom-right-radius: 20px;
    }
}

/* IN HARD MODE and when viewing website in landscape mode on phone/tablet, LOWER HEIGHT OF SQUARE DIVS SO THAT THEY CAN FIT */
@media (orientation: landscape) and (max-width: 800px){
    .row div{
        height: 100px;
    }
}